/* font-family: 'Monda', sans-serif;
font-family: 'Monoton', cursive; */

/* General Styles */
.dmpage__container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
}

/* Header Styles */
.dmpage__header {
  display: flex;
}

.dmpage__header a {
  margin: 1rem 2.5rem;
  font-family: 'Monda', sans-serif;
  text-decoration: none;
  color: var(--color-one);
  transition: .5s;
}

.dmpage__header a:hover {
  color: var(--color-two);
}

/* Main styles */
.dmpage__daily-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Monda', sans-serif;
}

.dmpage__music-info {
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  margin-top: -1rem;
}

/* Buttons */
/* remove after */
.dmpage__listen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dmpage__listen a {
  width: 75%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  background-color: var(--color-two);
  transition: .8s;
}

.dmpage__listen a:hover {
  width: 85%;
  color: var(--color-two);
  background-color: var(--color-one);
}