/* font-family: 'Monda', sans-serif;
font-family: 'Monoton', cursive; */

/* General Styles */
.wpage__container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
}

/* Header Styles */
.wpage__header {
  display: flex;
}

.wpage__header a {
  margin: 1rem 2.5rem;
  font-family: 'Monda', sans-serif;
  text-decoration: none;
  color: var(--color-one);
  transition: .5s;
}

.wpage__header a:hover {
  color: var(--color-two);
}

/* Main styles */
.wpage__post-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wpage__post-main h1,
.wpage__post-main a {
  font-family: 'Monoton', cursive;
  font-weight: 100;
  text-align: center;
}

.wpage__post-main h1 {
  width: 80%;
  margin: 1rem 0;
  margin-top: -4rem;
  word-spacing: 2.5rem;
  font-size: 5rem;
}

.wpage__post-main a {
  width: 70%;
  height: 3.5rem;
  line-height: 3.5rem;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  color: #FFF;
  background-color: var(--color-two);
  transition: .8s;
}

.wpage__post-main a:hover {
  width: 50%;
  color: var(--color-two);
  background-color: var(--color-one);
}